* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: #000; */
}

:root {
    --dark: #131921;
    --nav-bg: #232f3e;
    --light: #a9aba9;
    --small: #cccccc;
    --secondary-light: #e6e6e6;
    --green: #febd69;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

.flex {
    display: flex;
}

.pad-x {
    padding: 0 2.5rem;
}

.person {
    font-size: 2.5rem;
    color: #e52525;
}

/* Header section start here */

header {
    width: 100%;
    height: 6rem;
    background: var(--dark);
    padding: .5rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    /* color: #fff; */
}

header .left {
    display: flex;
    align-items: center;
    height: 100%;
}

header .left .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10rem;
    height: 100%;
    border: 1px solid transparent;
    transition: all .1s ease-in;
    cursor: pointer;
    margin-right: 1rem;
}

header .left .logo:hover,
header .left .location:hover {
    border: 1px solid #fff;
}

header .left .logo img {
    width: 100%;
    height: 4rem;
    position: relative;
}

header .left .location {
    display: flex;
    align-items: center;
    border: 1px solid transparent;
    width: 9rem;
    padding: 0 .5rem;
    height: 100%;
    margin-right: 1.5rem;
}

/* Dynamic menu btn */

header .left .logo-container {
    display: flex;
    position: relative;
}

header .left .logo-container .menu-btn {
    width: 2.5rem;
    height: 2.5rem;
    margin: 0 1rem 2rem 0;
    color: #fff;
    font-size: 3rem;
    display: none;

}

header .left .logo-container .menu-btn .menu-icon {
    display: block;
    margin-right: 2rem;
    cursor: pointer;
}

header .left .logo-container .user-login {
    width: 12rem;
    height: 100%;
    display: flex;
    align-items: center;
    float: right;
    color: #fff;
    display: none;
}

header .left .logo-container .user-login a {
    text-decoration: none;
    color: #fff;
}

header .left .logo-container .user-login .sign-up-link span {
    font-size: 1.4rem;
    margin-right: .5rem;
}

header .left .logo-container .user-login .shopping-cart {
    font-size: 3.5rem;
}

header .left .logo-container .user-login .sign-up-link {
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 1rem;
}


header .left .logo-container .user-login .sign-up-link .person {
    font-size: 2.5rem;
}




header .left .logo-container .logo-delivery {
    display: flex;
}



header .left .location .deliver {
    display: flex;
    flex-direction: column;
    margin-left: .3rem;
}

header .left .location .deliver small {
    color: var(--small);
    font-size: 1.2rem;
}

header .left .location .deliver span {
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff;
}

header .left .search-box {
    width: 58rem;
    height: 78%;
    background-color: #fff;
    display: flex;
    align-items: center;
    margin-right: 3rem;
}

header .left .search-box select {
    width: 4rem;
    height: 100%;
    font-size: 1.4rem;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 1rem 0;
    color: var(--dark);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: var(--secondary-light);
}

header .left .search-box .input {
    padding: 1rem 1.5rem;
    height: 100%;
    outline: none;
    border: none;
    width: 68rem;
}

header .left .search-box img {
    width: 2rem;
    margin-right: 1rem;
}

header .left .search-box .search-btn {
    height: 100%;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .9rem 1rem;
    background-color: var(--green);
    cursor: pointer;
}

/* Header right side start */

header .right {
    height: 100%;
    display: flex;
    align-items: center;
}

header .right a {
    font-size: 1.4rem;
    color: #fff;
}

header .right #language {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
}

header .right .box {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 1.2rem;
    margin-right: .4rem;
    border: 1px solid transparent;
    cursor: pointer;
}

header .right .box:hover {
    border: 1px solid #fff;
}

header .right .box:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header .right .box:nth-child(2) a {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
}

header .right .box:nth-child(2) span {
    color: var(--small);
    font-size: 1.2rem;
}

header .right .box:nth-child(3) a small {
    font-size: 1.2rem;
    color: var(--small);
}

header .right .box:nth-child(4) .ionicon {
    width: 4rem;
    height: 4rem;
    margin-right: .5rem;
}

header .right .box .ionicon {
    width: 1.1rem;
    height: 1.1rem;
}

/* Mouse over effect on menu */

header .language-container {
    width: 25rem;
    position: absolute;
    top: 6rem;
    right: 14%;
    padding: 2rem 2rem 2rem 2rem;
    border-radius: 1rem;
    background-color: #fff;
    box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.1);
    transition: all .2s linear;
    display: none;
}

header.language .language-container {
    display: block;
}

header .language-container p {
    display: inline-flex;
    align-items: center;
    color: #616161;
    font-size: 1.5rem;
    gap: 1rem;

}

header .language-container p a {
    font-size: 1rem;
}

header .language-container .languages {
    margin-top: 1rem;
}

header .language-container .languages a {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.4rem;
    padding: .5rem 0 0 0;
    transition: all .2s ease;
}

header .language-container .languages a:hover {
    color: var(--dark);
}

hr {
    border: 1px solid #0606060f;
    margin-top: 1rem;
}

header .language-container .change-currency {
    margin-top: 1rem;
}

header .language-container .change-currency .usd {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem .3rem;
}

header .language-container .change-currency .usd span {
    color: #616161;
    font-size: 1.4rem;
}

header .language-container .change-currency .usd a {
    font-size: 1.2rem;
}

header .language-container .info {
    color: #423f3f;
    font-size: 1.4rem;
    padding: 1rem 0 0 0;
}

header .language-container .link a {
    display: block;
    width: fit-content;
    text-align: center;
    font-size: 1.4rem;
    margin-top: 1rem;
    padding: 1rem 0;
}

/* Login container start sign up and login  */

header .login-container {
    width: 30%;
    position: absolute;
    top: 6rem;
    right: 6rem;
    z-index: 9;
    background-color: #fff;
    box-shadow: 0 0 3rem 0 rgba(0, 0, 0, 0.1);
    padding: 3rem 1.5rem 1.5rem 1.5rem;
    border-radius: 1rem;
    transition: all .2s linear;
    display: none;
}

/* js active class */
header.login .login-container {
    display: block;
    transition: all .3s linear;
}

/* ------------------------ */


header .login-container .login-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 1rem;
}

header .login-container .login-info .signUp-box .signUp-bnt {
    padding: 1rem 6rem;
    font-size: 1.4rem;
    font-weight: 500;
    border: none;
    outline: none;
    border-radius: 10rem;
    cursor: pointer;
    background-color: #ffd814;
    margin-bottom: 1rem;
}

header .login-container .login-info .signUp-box .signUp-bnt:hover {
    text-decoration: underline;
}

header .login-container .login-info .signUp-box div span {
    font-size: 1.2rem;
    margin-right: .5rem;
}

header .login-container .login-info .signUp-box div a {
    font-size: 1.2rem;
}

header .login-container .login-info .signUp-box div a:hover {
    text-decoration: underline;
}

header .login-container .account-info {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin-top: 2rem;
}

header .login-container .account-info .your-list {
    width: 100%;
    border-right: 1.5px solid rgba(0, 0, 0, 0.1);
}

header .login-container .account-info h3 {
    font-size: 1.6rem;
    margin-top: 1rem;
    padding-bottom: 1rem;
}

header .login-container .account-info ul {
    list-style: none;
}

header .login-container .account-info ul li {
    width: 100%;
    font-size: 1.4rem;
    padding: .5rem 1.2rem;
}

header .login-container .account-info ul li a {
    color: #444443;
    transition: all .1s ease-in;
}

header .login-container .account-info ul li a:hover {
    color: #d2b10d;
    text-decoration: underline;
}

header .login-container .account-info .your-account {
    width: 100%;
}

/* ===============
    Header End 
================== */


/* ===============
    Navbar start
================== */

#navbar {
    height: 4rem;
    display: flex;
    align-items: center;
    background: var(--nav-bg);
    color: #fff;
}

#navbar ul {
    height: 100%;
    display: flex;
    align-items: center;
    list-style: none;
    /* border: 1px solid #fff; */
}

#navbar ul li {
    margin: auto .3rem;
}

#navbar ul li a {
    font-size: 1.4rem;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 1px solid transparent;
    color: #fff;
    padding: 1rem 1rem;
}

#navbar ul li a:hover {
    border: 1px solid #fff;
}

/* Selected a tag that is first link of navbar */
#navbar ul li:nth-child(1) {
    padding-left: 0;
    margin: 0;

}


.nav-menu-icon {
    font-size: 1.6rem;
    margin-right: .2rem;
}